<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.driveit">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DRIVEIT">
        <activity android:name=".SchedulingActivity_S"></activity>
        <activity android:name=".LessinsscheduleActivity_T" />
        <activity android:name=".StudentslistActivity_T" />
        <activity android:name=".InfoActivity_T" />
        <activity android:name=".RatingActivity_S" />
        <activity android:name=".ProfileActivity_T" />
        <activity android:name=".RatingActivity_T" />
        <activity android:name=".SignupActivity_T" />
        <activity android:name=".SignupsActivity_S" />
        <activity android:name=".ProfileActivity_S" />
        <activity android:name=".SigninActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>